@import url(https://fonts.googleapis.com/css?family=Architects+Daughter);

body {
  text-align: center;
  width: 100%;
  background-color: lightblue;
  /*background: linear-gradient(to bottom, lightblue, darkblue);*/
  font-family: 'Architects Daughter', cursive;
}

#side-menu {
  position: absolute;
  left: 0px;
  width: 40%;
  margin: 50px auto;
}

.begin-reset-start {
  width: 300px;
  height: 50px;
  background-color: red;
  font-size: 25px;
  border: 1px solid black;
  display: inline-block;
  line-height: 50px;
  font-family: 'Architects Daughter', cursive;
  /*margin-bottom: 50px;*/
}

.begin-reset-start:hover {
  cursor: pointer;
}

.square.unused:hover {
  cursor: pointer;
}

img:hover {
  cursor: pointer;
}

button {
  cursor: pointer;
}

.box {
  width: 200px;
  height: 50px;
  background-color: white;
  font-size: 25px;
  border: 1px solid black;
  display: inline-block;
  line-height: 50px;
}

.piece {
  height: 50px;
  width: 50px;
  margin-left: 50px;
  margin-top: 10px;
  border: 1px solid black;
  background-color: white;
  display: inline-block;
  line-height: 50px;
  position: relative;
  top: 17px;
  z-index: 2;
}

.numWins {
  height: 50px;
  width: 50px;
  margin-left: 50px;
  margin-top: 10px;
  border: 1px solid black;
  background-color: white;
  display: inline-block;
  line-height: 50px;
  position: relative;
  top: -4px;
}

#numGames {
  position: relative;
  left: 130px;
  margin-top:  23px;
  z-index: 1;
}
#play1Wins, #play2Wins {
  position: relative;
  left: -28px;
  z-index: 1;
}

.main {
  width: 70%;
  text-align: center;
  /*float: right;*/
  margin: 0 0 0 auto;
}

.start-menu {
  height: 500px;
  width: 500px;
  border: 1px solid black;
  background-color: lightyellow;
  margin: 0 auto;
  text-align: center;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 25px;
  margin: 0;
}

#firstMovePlayer {
  font-size: 60px;
}

button {
  height: 30px
  width: 250px;
  font-size: 25px;
  margin: 25px 0;
}

input {
  height: 50px;
  width: 200px;
  text-align: center;
  font-family: 'Architects Daughter', cursive;
  font-size: 40px;
  margin: 10px 0;
}

.selection, .selection1 {
  height: 100px;
  width: 100px;
  display: inline-block;
}

h1 {
  font-size: 50px;
  margin: 20px 0;
}

.square {
  height: 140px;
  width : 140px;
  /*border: 2px solid black;*/
  display: inline-block;
  /*background-color: lightgrey;
  opacity: 0.7*/*/
  position: relative;
}

.top {
  position: relative;
  top: 20px;
}

.center {
  position: relative;
  top: 20px;
}

.bottom {
  position: relative;
  top: 30px;
}

.left {
  position: relative;
  left: -65px;
}

.middle {
  position: relative;
  left: -15px;

}

.right {
  position: relative;
  left:   40px;
}

ul {
  height: 550px;
  width: 520px;
  background-image: url(images/board.png);
  background-size: cover;
  z-index: 2;
  margin: 0 auto;
}


.move {
  background-color: yellow;
}

@keyframes wins {
  0% {
    transform: scale(1);

  }

  25% {
    transform: scale(1.5)

  }

  50% {
    transform: scale(1);
    transform: rotate(0deg)
  }

  60% {
    transform: rotate(90deg)
  }
  70% {
    transform: rotate(180deg)
  }
  80% {
    transform: rotate(270deg)
  }
  90% {
    transform: rotate(360deg)
  }
  100%{
    transform: rotate(0deg)
  }
}

.win {
  animation: wins 3s infinite;
}

@keyframes multiWins {
  0%  {
    transform: scale(1)
  }
  50%  {
    transform: scale(10)
  }
  100% {
    transform: scale(1)
  }
}

.multiWin {
  animation: multiWins 5s infinite;
}

.hide {
  display: none;
}
